[Unit]
Description=Nrf24 radio manager
After=multi-user.target

[Service]
Type=simple
User=root
ExecStart=PWD/nrf24_manager.py
WorkingDirectory=PWD
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target